.container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 45vh;
    background-color: #82c0cc;
}

.header {
    margin: .5em .5em 0 .5em;
    text-align: center;
    color: #ede7e3;

}

.form {
    display: flex;
    align-items: center;
    height: 80%;
    margin: 0 .5em .5em .5em
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: #ede7e3;
    font-weight: 500;
}

.textbox {
    border-radius: 4px;
}

.button {
    max-width: 20%;
    padding: 0.25em .75em;
    box-sizing: content-box;
    height: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 7px;
    background-color: #489fb5;
    color: #ede7e3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    padding-bottom: 5px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    border-color: #ffa62b;
    border: 1px solid #ffa62b;
    color: #ffa62b;
    box-shadow: 0 0.5em 0.5em -0.4em #ffa62b;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.button:active {
    background-color: #ffa62b;
    color: #ede7e3;
    border: 1px solid #489fb5;
}



.header {
    margin: .5em .5em 0 .5em;
}