.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.mainHeader {
    color: #C08497;
}

.image {
    margin: 2em 0;
}

.subHeader {
    color: #6096BA;
    margin: 1em 0;
}