.postcards {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.newPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featuredPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headers {
    color: #16697a;
}

@media screen and (max-width: 500px) {
    .postcards {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
}