.postcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    margin: 5px;
    width: 20vw;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    background-color: #ede7e3;
}

.title,
.viewNotice,
.price,
.button {
    margin: 2px 0;
}

.title,
.price {
    margin: 2px 0;
    width: 60%;
    max-width: 60%;
    color: #82c0cc;
}

.titleContent,
.priceContent {
    font-weight: 400;
    color: #16697a;
}

.title {
    margin: 0;
}


.viewNotice {
    border: 1px solid black;
    border-radius: 5%;
    width: 50%;
    max-width: 60%;
    padding: 1px;
    background-color: #16697a;
    color: #EDE7E3;
}

.button {
    margin-right: 1em;
    padding: 0.25em .75em;
    box-sizing: content-box;
    height: 1.5em;
    border-radius: 7px;
    background-color: #C08497;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.viewButton {
    margin-right: 1em;
    padding: 0.25em .75em;
    box-sizing: content-box;
    height: 1.5em;
    border-radius: 7px;
    background-color: #16697a;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.button:hover {
    cursor: pointer;
    border-color: #16697A;
    box-shadow: 0 0.5em 0.5em -0.4em #6096BA;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.viewButton:hover {
    cursor: pointer;
    border-color: #16697A;
    box-shadow: 0 0.5em 0.5em -0.4em #C08497;
    transform: translatey(-0.25em);
    cursor: pointer;
}


.button:active {
    background-color: #EDE7E3;
    color: #C08497;
    border: 1px solid #C08497;
}

.viewButton:active {
    background-color: #EDE7E3;
    color: #16697a;
    border: 1px solid #16697a;
}

@media screen and (max-width: 750px) {
    .postcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5%;
        margin: 5px;
        width: 40vw;
        max-width: 100%;
        height: 200px;
        max-height: 100%;
        background-color: #ede7e3;
    }
}

@media screen and (max-width: 500px) {
    .postcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5%;
        margin: 5px;
        width: 50vw;
        max-width: 100%;
        height: 200px;
        max-height: 100%;
        background-color: #ede7e3;
    }
}