* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: sticky !important;
    top: 0;
    height: 17vh;
    width: 100%;
}


.main {
    padding: 10px;
    height: 83vh;
    overflow: auto;
}

.App {
    display: flex;
    flex-direction: column;

}