@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,600&family=Roboto:wght@100;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background: rgb(243, 238, 195); */
    background: radial-gradient(circle, rgba(243, 238, 195, 0.5107085070356268) 73%, rgba(245, 206, 196, 0.5079073865874475) 88%);
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'Roboto', sans-serif;
    /* border: 1px solid red; */
}